[Unit]
Description=Archivist service
Documentation=https://docs.archivist.storage
After=local-fs.target network.target network-online.target nss-lookup.target

[Service]
TimeoutStartSec=infinity
Type=exec
User={{ archivist_user }}
Group={{ archivist_user }}
StateDirectory={{ archivist_service_name }}
ExecStart={{ archivist_install_folder }}/{{ archivist_bin }} --config-file="{{ archivist_folder }}/{{ archivist_config_file }}"
Restart=always
RestartSec=3
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
